# Python
__pycache__/
*.pyc
.venv/
env/
*.egg-info/

# Data
02_data/01_raw/
02_data/02_silver/
02_data/03_gold/

# Environment
.env

# OS
.DS_Store
Thumbs.db

# VS Code
.vscode/

# Dagster
.tmp_dagster_home*/